<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration 
	DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" -->
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/fbs</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Shweta@14</property>
		<!-- Automatically create or update database schema -->
		<property name="hbm2ddl.auto">update</property>
		<!-- Specify the dialect for your database -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<!-- Enable or disable showing SQL statements in the console -->
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<mapping class="com.flight.entity.Admin"/>
        <mapping class="com.flight.entity.Passenger"/>
        <mapping class="com.flight.entity.Flight"/>
        <mapping class="com.flight.entity.Booking"/>
        <mapping class="com.flight.entity.Airport"/>
        <mapping class="com.flight.entity.Payment"/>
		</session-factory>
</hibernate-configuration>